.lesson1, .lesson2, .lesson3, .lesson4, .lesson5, .lesson6, .lesson7, .lesson8, .lesson9, .lesson10, 
.lesson11, .lesson12, .lesson13, .lesson14, 
.lesson15, .lesson16, .lesson17, .lesson18,
.lesson19, .lesson20, .lesson21, .lesson22, 
.lesson23 {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding:  20px;
}

.bonus {
    color: #FF8000;
}


.lesson16 body {
    padding: 10px;
    font-family: "Arial", sans-serif;
    font-size: 14px;
    line-height: 1.4;
}

.lesson16 .main-menu {
    margin: 0;
    padding: 10px 15px;
    list-style: none;
    background: #f5f5f5;
    border: 1px solid #e5e5e5;
}

.lesson16 .main-menu li {
    display: inline;
    margin-right: 5px;
    border: 1px solid #000;
}

.lesson16 .main-menu a {
    color: #0088cc;
}

.lesson17 body {
    padding: 10px;
    font-family: "Arial", sans-serif;
    font-size: 14px;
    line-height: 1.4;
}

.lesson17 .main-menu {
    width: 530px;
    margin: 0;
    padding: 10px 15px;
    list-style: none;
    background: #f5f5f5;
    border: 1px solid #e5e5e5;
}

.lesson17 .main-menu li {
    display: inline;
    margin-right: 5px;
    white-space: nowrap;
}

.lesson17 .main-menu a {
    color: #0088cc;
}

.lesson18 body {
    padding: 10px;
    font-family: "Arial", sans-serif;
    font-size: 14px;
    line-height: 1.4;
}

.lesson18 .main-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    
    border: 1px solid #e5e5e5;
}

.lesson18 .main-menu li {
    display: inline-block;
    margin-right: 5px;
}

.lesson18 .main-menu a {
    display: block;
    padding: 8px 10px;
    border: 1px solid #000;
    color: #0088cc;
<<<<<<< HEAD
}

.lesson19 body {
    padding: 10px;
    font-family: "Arial", sans-serif;
    font-size: 14px;
    line-height: 1.4;
}

.lesson19 .main-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    border: 1px solid #e5e5e5;
}

.lesson19 .main-menu li {
    display: inline-block;
    margin-right: -4px;
}

.lesson19 .main-menu a {
    display: block;
    margin-left: -1px;
    padding: 8px 10px;
    color: #0088cc;
    background-color: #f5f5f5;
    border-left: 1px solid #e5e5e5;
}

.lesson19 .main-menu a:hover {
    background: #eeeeee;
}

.lesson20 html, 
body {
    margin: 0;
    padding: 0;
}

.lesson20 body {
    width: 430px;
    min-height: 280px;
    padding: 10px;
    font-family: "Arial", sans-serif;
    font-size: 14px;
    line-height: 1.4;
    background: #ecf0f1;
}

.lesson20 .main-menu {
    margin: 0;
    padding:0;
    list-style: none;
    background: #2980b9;
    
    
}

.lesson20 .main-menu li {
    display: inline-block;
    background: #2980b9;
    border-left: 2px solid #2c3e50;
    margin-right: -5px;
    padding: 10px 15px;
}

.lesson20 .main-menu li a {
    display: block;
    text-decoration: none;
    color: #fff;
    
}

.lesson20 .main-menu  .active {
      background: #1abc9c; 
     
}

.lesson21 body {
    padding: 10px;
    font-family: "Arial", sans-serif;
    font-size: 14px;
    line-height: 1.4;
}

.lesson21 .main-menu {
    width: 180px;
    margin: 0;
    padding: 0;
    list-style: none;
    
}

.lesson21 .main-menu a {
    display: block;
    margin-bottom: -1px;
    padding: 8px 14px;
    text-decoration: none;
    color: #0088cc;
    border: 1px solid #e5e5e5;
}

.lesson21 .main-menu a:hover {
    background: #f5f5f5;
}

.lesson21 .main-menu > li {
    position: relative;
}

/* Подменю */

.lesson21 .main-menu .sub-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    background: #fcf8e3;
    position: absolute;
}

.lesson22 body {
    padding: 10px;
    font-family: "Arial", sans-serif;
    font-size: 14px;
    line-height: 1.4;
}

.lesson22 .main-menu {
    width: 180px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.lesson22 .main-menu a {
    display: block;
    margin-bottom: -1px;
    padding: 8px 14px;
    text-decoration: none;
    color: #0088cc;
    border: 1px solid #e5e5e5;
}

.lesson22 .main-menu a:hover {
    background: #f5f5f5;
}

.lesson22 .main-menu > li {
    position: relative;
}

.lesson22 .main-menu .sub-menu {
    position: absolute;
    margin: 0;
    padding: 0;
    list-style: none;
    background: #fcf8e3;
    top: 5px;
    left: 170px;
    z-index: 10;
    width: 150px;
=======
>>>>>>> 6f4f39994b1e3b0362e4466e13bb30336f629428
}