.lesson1, .lesson2, .lesson3, .lesson4, .lesson5, .lesson6, .lesson7, .lesson8, .lesson9, .lesson10, 
.lesson11, .lesson12, .lesson13, .lesson14, .lesson15,.lesson16, .lesson17 {
	border: 1px solid #ccc;
	border-radius: 10px;
	padding:  20px;
}

.bonus {
	color: #FF8000;
}

.lesson4 code {
    padding: 3px;
    border: 1px solid #e1e1e8;
    background-color: #f7f7f9;
    color: #dd1144;
}